.main{
    width: 350px;
    height: 540px;
    background-color: rgba(28, 137, 205, 0.413);
    margin: 5rem 2rem 5rem;
    display: inline-block; /*cardları yan yana getirir araştır tekrar  */
    /* gap: 1rem; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card{
    width: 300px;
    height: 500px;
    /* background-color: cadetblue; */
    margin: 1rem auto;
    text-align: center;
}
.mainİmg{
    width: 200px;
    height: 200px;
}
h4{
    margin: 0.5rem;
}
.desc{
    width: 290px;
    height: 200px;
    padding: 5px;
    /* margin: auto; */
    /* background-color: bisque; */ /*Butonların aşağıda yukarıda olmaması için p leri div içine aldık  */
}
.btn{
    padding: 0.8rem;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(11, 131, 161);
    color: white;
    font-weight: 600;
}