header{
    width: 100½;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ramazan{
    font-size: 36px;
    color: rgb(22, 145, 227);
    margin-left: 50px;
}